/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/

@font-face{
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2");
  src: url("/fonts/BebasNeue-Regular.woff") format("woff");
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ===== RESET ===== */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ===== BODY BASE ===== */
body{
background:#050505;
font-family: 'Bebas Neue', sans-serif;
color:#e5e5e5;
}

/* ===== TEXTOS GENERALES ===== */
h1,h2,h3{
font-weight:600;
}

a{
text-decoration:none;
color:inherit;
}

/* ===== SCROLLBAR GLOBAL ===== */
::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#050505;
}

::-webkit-scrollbar-thumb{
background:#bfc3c7;
border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
background:#e0e0e0;
}

*{
scrollbar-width:thin;
scrollbar-color:#bfc3c7 #050505;
}
