*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:'Segoe UI',sans-serif;
color:#e5e5e5;
}

/* NAVBAR */

.navbar{
width:100%;
height:70px;
background:rgba(5,5,5,0.95);
border-bottom:2px solid #bfc3c7;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
position:fixed;
top:0;
z-index:1000;
backdrop-filter:blur(10px);
}

.nav-left,
.nav-right{
width:80px;
display:flex;
justify-content:center;
align-items:center;
}

.logo{
width:44px;
}

.nav-center{
flex:1;
display:flex;
justify-content:center;
position:relative;
}

/* TITULO */

.brand-text{
display:flex;
font-family: 'Bebas Neue', sans-serif;
font-size:2rem;
letter-spacing:8px;
font-weight:bold;
}

.brand-text span{
opacity:0;
animation:letter .4s forwards;
}

/* MENU */

.center-menu{
position:absolute;
display:flex;
gap:35px;
pointer-events:none;
}

.word{
opacity:0;
}

.nav-item{
color:#8f9499;
text-decoration:none;
font-weight:bold;
text-transform:uppercase;
font-size:.75rem;
letter-spacing:2px;
position:relative;
}

.nav-item:hover{
color:#cfd2d6;
}

.nav-item::before{
content:"";
position:absolute;
bottom:-6px;
left:0;
width:0;
height:1px;
background:#cfd2d6;
box-shadow:0 0 10px #cfd2d6;
transition:.3s;
}

.nav-item:hover::before{
width:100%;
}

.nav-center:hover .brand-text{
  opacity:0;
}

.nav-center:hover .center-menu{
  opacity:1;
  pointer-events:auto;
}

/* ANIMATIONS */

@keyframes letter{
from{opacity:0;transform:translateY(15px);}
to{opacity:1;transform:translateY(0);}
}

@keyframes wordAppear{
from{opacity:0;transform:translateY(10px);}
to{opacity:1;transform:translateY(0);}
}

/* CONTENT */

.inicio-container{
padding-top:120px;
max-width:1000px;
margin:auto;
padding-bottom:80px;
}

.page-title{
text-align:center;
margin-bottom:50px;
}

.page-title h1{
font-size:2.2rem;
letter-spacing:6px;
}

.page-title p{
margin-top:10px;
font-size:.85rem;
letter-spacing:3px;
color:#8f9499;
}

.novedades{
background:rgba(14,14,14,.8);
border:1px solid #cfd2d6;
border-radius:6px;
padding:30px;
box-shadow:0 0 40px rgba(0,0,0,.6);
}

.novedades-scroll{
max-height:450px;
overflow-y:auto;
display:flex;
flex-direction:column;
gap:30px;
}

.novedad{
padding-left:20px;
border-left:2px solid #cfd2d6;
}

.novedad img,
.novedad video{
width:100%;
margin-top:15px;
border-radius:4px;
}

.word.show{
opacity:1;
animation:wordAppear .35s ease forwards;
}

