.page-content{
    padding-top: 70px;
}

/* ===============================
   SECCION FORMULARIO
================================ */

.form-section{
  padding: 4rem 2rem;
  text-align: center;
}

/* SUBTITULO */

.form-subtitle{
  font-size: 0.85rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 2rem;
}

/* TITULO */

.form-title{
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-bottom: 0.75rem;
}

/* LINEA */

.form-line{
  width: 100%;
  max-width: 480px;
  height: 1px;
  margin: 0 auto 3rem auto;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.35),
    transparent
  );
}

/* CONTENEDOR DEL FORM */

/*.form-container{
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(0,0,0,0.55);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 12px 28px rgba(0,0,0,0.6);
}*/

.form-container{
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 8px;

  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(120deg, #d0d0d0, #ffffff, #a0a0a0) border-box;

  border: 1px solid transparent;
  box-shadow: 0 0 14px rgba(255,255,255,0.35);
}

/* IFRAME */

.form-container iframe{
    width: 100%;
    height: 900px;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 6px;
}